/*TELA DE LOGIN */
body{
  background-color: #c2c2c2;
}
img{
  border-radius: 50px;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: absolute;
  top: 12%;
  left: 44%;
}

#txtFinanceiro{
  position: relative;
  font-size: 35px;
  font-weight: bold;
  color: #ff7013;
  margin-top: 40px;
  margin-left: 44%;
}
#formLogin{
    width: 30%;
    margin-top: 250px;
    position: absolute;
    margin-left: 36.5%;
}
label{
  font-weight: bold;
}
#btEntrar{
    
    color: white;
    height: 50px;
    width: 100px;
    margin-left: 40%;
    position: absolute;
}


/* LISTA DE CLIENTES */
.txtCliente{
  font-size: 35px;
  margin-top: 10px;
  left: 40%;
  position: relative;
  font-weight: bold;
  color: #ff7013;
}

#filtrar{
  top: 40px;
  margin-left: 10px;
  font-weight: bold;
  position: absolute;
}

#campoId{
  border-radius: 5px;
  left: 10px;
  top: 60px;
  position: absolute;
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  height: 35px;
}
#campoNome:focus {
  background-color: #ff7013;
}
#campoNome{
  border-radius: 5px;
  left: 210px;
  top: 60px;
  position: absolute;
  width: 11%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  height: 35px;
}
#campoId:focus {
  background-color: #ff7013;
}
.table{
  font-weight: bold;
  margin-top: 10px;
}

.input-group{
  position: absolute;
  width: 30%;
  margin-left: 65%;
  margin-top: -37px;
}

 
/* CHECKBOXS */
.container{
  width: 960px;
  margin-left: 10px;
  padding-top: 5px;
}

.switch{
  display: flex;
  cursor: pointer;
}

.switch .switch-text{
  padding-right: 0.3rem;
  font-size: 1.2rem;
  font-size: 18px;
  }

.switch .switch-wrapper{
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}
.switch .switch-wrapper .switch-button{

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background-color: aliceblue;

}

.switch .switch-wrapper input{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .switch-wrapper .switch-button::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: .4s all ease;
  background-color: orangered;
}

.switch .switch-wrapper input:checked + .switch-button{
  background-color: purple;
}

.switch .switch-wrapper input:checked + .switch-button::before{
  transform: translateX(26px);
}

/* CHECKBOXS 2 */
.container{
  width: 960px;
  margin-left: 2%;
  padding-top: 1px;

}

.switch2{
  display: flex;
  cursor: pointer;
}

.switch2 .switch-text2{
  padding-right: 0.3rem;
  font-size: 1.2rem;
  font-size: 18px;
  }

.switch2 .switch-wrapper2{
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}
.switch2 .switch-wrapper2 .switch-button2{

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  background-color: aliceblue;

}

.switch2 .switch-wrapper2 input{
  opacity: 0;
  width: 0;
  height: 0;
}

.switch2 .switch-wrapper2 .switch-button2::before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  transition: .4s all ease;
  background-color: orangered;
}

.switch2 .switch-wrapper2 input:checked + .switch-button2{
  background-color: rgb(4, 4, 186);
}

.switch2 .switch-wrapper2 input:checked + .switch-button2::before{
  transform: translateX(26px);
}



/* FILTRO ID E NOME */

input[type=text] {
  margin-top: -50px;
  height: 40px;
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 20px;
  transition: width 0.8s ease-in-out;
 
}

input[type=text]:focus {
  width: 30%;
}

.filtraNome{
  margin-left: 47px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  
}